.logged-in-as {
  margin:0;
  border-radius:0;
}

.set-body input[type=radio] {
  margin: 0 0 12px 0;
}

.select2-search-choice{
  width:100%
}

.select2-container-multi .select2-choices {
  overflow: inherit;
}

.select2-container-multi .select2-choices .select2-search-choice {
  top: 30px;
  width: 270px;
}

.track {
  display: block;
  margin: .5em 0;
}
.displays td {
  vertical-align: top;
}
input.full-width {
  width: 100%;
}


// Margin/Padding Helpers
$margin-padding: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;
@each $mp in $margin-padding {
  .mt-#{$mp} {
    margin-top:#{$mp}px !important;
  }
  .mb-#{$mp} {
    margin-bottom:#{$mp}px !important;
  }
  .ml-#{$mp} {
    margin-left:#{$mp}px !important;
  }
  .mr-#{$mp} {
    margin-right:#{$mp}px !important;
  }

  .pt-#{$mp} {
    padding-top:#{$mp}px !important;
  }
  .pb-#{$mp} {
    padding-bottom:#{$mp}px !important;
  }
  .pl-#{$mp} {
    padding-left:#{$mp}px !important;
  }
  .pr-#{$mp} {
    padding-right:#{$mp}px !important;
  }
}